.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.monday {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error {
    border-color: red;
}
.error:focus {
    outline: red;
}

.tuesday {
    margin-top: 200px;
}

.todolists {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.todoList {
    width: 300px;
}

.todoList > div {
    padding: 10px;
}

.todoList-task {

}

.todoList-task.done {
    opacity: 0.5;
}

.filter-active {
    background-color: blue;
}

.error {
    border-color: red;
}
