.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.monday {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error {
    border-color: red;
}
.error:focus {
    outline: red;
}

.tuesday {
    margin-top: 200px;
}

.todolists {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.todoList {
    min-width: 300px;
}

.todoList > div {
    padding: 10px;
}

.task-container {
}

.todoList-task {

}

.todoList-task.done {
    color: darkgrey;
}

.time-status {
    margin-right: 30px;
    position: absolute;
    background-color: lightgrey;
    /*border: 1px solid;*/
    border-radius: 5px;
}

.time-status div {
    padding: 2px;
    font-size: 14px;
}

.time-status-corner {
    margin-left: 12px;
    width: 1px;
    border: 9px solid transparent;
    border-bottom: 9px solid lightgrey;
}

.filter-active {
    background-color: blue;
}

.error {
    border-color: red;
}
